

.col{
    padding: .50em 1.3em;
    align-items: center;
   // margin-top: -10px;
}
.color-light{
    //background: #57b3f1;
    margin-bottom: 0%;
}
.textbox{
    //border:0;
    padding:1em;
    width:300px;
    height: 30px;
    //margin-top:2em;
    align-self: center;
   // color: yellow;
   // caret-color: red;
   background-color: rgb(224, 236, 204);
   color: #DE2A00;
  
}

input:focus{
    background-color: #fcfcce;
}

.submit{
    //border:0;
    display:block;
    padding: 1em 2em;
    background: #a5f883;
    color: rgb(20, 132, 207);
    font-size: 20px;
    font-family: 'Rockwell';
    //margin-bottom: 1em;
    margin-top: 6px;
    cursor:pointer;
    border-radius: 13%;
    align-items: center;
    justify-content: center;
}

.submit:hover {background-color: #7ef84e}

.submit:active {
    background-color: #7ef84e;
    //box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .buttonsize:disabled{
      background-color: #d5d6d6;
  }

.label{
    font-family: 'Rockwell';
    font-size: 30px;
    color: rgb(23, 193, 223);
    //margin-left: 600px;
    //margin-top:6em;
}

.login_heading{
    font-family: 'Elephant';
    //font-size:30px;
    color: #1995e7;
}

table{
    padding: 5px;
    word-spacing: 5px;
    //margin-top: 40px;
    //margin-bottom: 5px;
}

p{
    font-family: 'Rockwell';
    font-size: 25px;
    color: rgb(37, 160, 241);
}

a{
    text-decoration:none;
}

/*div{
    white-space: pre;
}*/

label{
    white-space: pre;
}

.incWidth{
    width: 70%;
}

//body {
  //  background:#333;
//}
.form_bg {
    //background-color:#eee;
    color:#666;
    padding:20px;
    border-radius:10px;
    position: absolute;
    border:1px solid #fff;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    height: 280px;
}
.align-center {
    text-align:center;
}

div{
    margin:0 auto;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

.buttonsize{
    width: 100px;
    border-radius: 13%;
    height: 60px;
    font-size: 20px;
    color: #1995e7;
    border: 0;
    background-color: #9fee9d;
}

/*.container{
    /*min-height: 100%; 
    // /height: auto !important; /*Cause footer to stick to bottom in IE 6*/
    /* -100px; /*Allow for footer height*/
    /*vertical-align:bottom;
    width: 10% auto;*/

    /*min-height: 100% ;
    height: 100%;
    margin: 0 auto;*/

 /*   top: 100px; bottom: 100px; overflow: auto;
     flex-shrink: 0;
     background-color: #e7ebf0;
}

.container-fluid{
    height:auto;
    background-color: #e7ebf0;
}*/

/*.well{
    background-color: #e7ebf0;
    border: black solid 0.1px;
    //height: 50% auto;
    //width: 30% auto;
    //width: 500px; 
    //margin: 0 auto;
    //padding-block-end: 0% auto;
    word-wrap: normal;
    -ms-word-wrap: normal;
        
}*/




