<!--The content below is only a placeholder and can be replaced.-->

<!--<div class="container1 color-dark">
  <div class="col">
    <img src="../assets/on-demand.jpg" alt="logo"/>
  </div>
  <div class="col">
    <p class="header"><i>DYNAMIC GADGET INSURANCE</i></p>
    <i class="motto">-Anytime, Anywhere at your service.. </i>
  </div>
</div> -->
<div class="jumbotron clearfix">
  <div class="container1">
    <div class="col">
      <img src="../assets/gi.jpeg" alt="logo"/>
    </div>
    <div class="col">
      <p class="header"><i>DYNAMIC GADGET INSURANCE</i></p>
      <i class="motto">-Anytime, Anywhere at your service.. </i>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
